.searchselectadd {
  //   border: 1px solid;
  margin: 15px 0;
  padding: 15px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  .example-form {
    mat-form-field {
      width: -webkit-fill-available;
    }
  }
  .selectadd {
    // border: 1px solid;
    align-items: center;
    display: flex;
    justify-content: space-between;
    .select {
      width: 30%;
    }
    .addbtn {
      width: 200px;
      font-size: 16px;
      font-weight: 600;
      color: #fff;
      cursor: pointer;
      margin: 20px 0 20px 20px;
      height: 55px;
      text-align: center;
      border: none;
      background-size: 300% 100%;

      border-radius: 50px;
      moz-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;

      background-image: linear-gradient(
        to right,
        #667eea,
        #764ba2,
        #6b8dd6,
        #8e37d7
      );
      box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);

      &:hover {
        background-position: 100% 0;
        moz-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
      }
      &:focus {
        outline: none;
      }
    }
  }
}

.allmobileproducts {
  display: flex;
  flex-wrap: wrap;
  margin: 45px;
  justify-content: space-evenly;
  .example-card {
    max-width: 300px;
    margin-bottom: 45px;
    // margin-right: 15px;
    background-color: whitesmoke;
    mat-card-header {
      display: block;
      padding: 16px;
      button {
        float: right;
      }
      span{
        color: blue;
      }
    }
    img {
      height: 150px;
      &:hover{
        height: 155px;
        transition: 0.6s;
        transition-delay: 0.2s;
      }
    }
  }
  mat-card-actions {
    // .updatedelete{
    //     display: flex;
    //     flex-direction: column;
    // }
    justify-content: space-between;
    .updatedelete {
      align-items: center;
      .udate {
        margin-bottom: 5px;
        background-color: #fff;
      }
    }
    .rupeerating {
      .rupee {
        margin-bottom: 1px;
      }
    }

    .updatedelete,
    .rupeerating {
      display: flex;
      flex-direction: column;
    }
  }
}
