<p>add-product-dialog works!</p>

<!-- <h2 mat-dialog-title>Add Product</h2>
<mat-dialog-content>
  <form #productForm="ngForm">
    <mat-form-field>
      <input matInput placeholder="Title" name="title" ngModel required>
    </mat-form-field>
    
    <mat-form-field>
      <textarea matInput placeholder="Description" name="description" ngModel required></textarea>
    </mat-form-field>
    
    <mat-form-field>
      <input matInput placeholder="Price" name="price" ngModel required>
    </mat-form-field>
    
    <mat-form-field>
      <input matInput placeholder="Discount Percentage" name="discountPercentage" ngModel required>
    </mat-form-field>
    
    <mat-form-field>
      <input matInput placeholder="Rating" name="rating" ngModel required>
    </mat-form-field>
    
    <mat-form-field>
      <input matInput placeholder="Stock" name="stock" ngModel required>
    </mat-form-field>
    
    <mat-form-field>
      <input matInput placeholder="Brand" name="brand" ngModel required>
    </mat-form-field>
    
    <mat-form-field>
      <input matInput placeholder="Category" name="category" ngModel required>
    </mat-form-field>
    
    <mat-form-field>
      <input matInput placeholder="Thumbnail" name="thumbnail" ngModel required>
    </mat-form-field>
    
    <mat-form-field>
      <input matInput placeholder="Images" name="images" ngModel required>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-button color="primary" (click)="onAddClick(productForm)">Add</button>
</mat-dialog-actions> -->
